.container {
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
}

header {
    padding: 20px 40px;
    background-color: #F55A5A;
    color: #FFFFFF;
}

.header--container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.header--text {
    font-size: 15px;
    font-weight: 500;
}

.header--globe-icon {
    font-size: 24px;
}

/* TravelCard Component */
.travels-list {
    padding: 45px 20px 30px;
}

.card {
    color: #2B283A;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 36px;
}

.card--info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
}

.card--photo {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.card--location {
    display: flex;
    align-items: center;
    font-size: 11px;
}

.card--location-icon {
    color: #F55A5A;
    margin-right: 4px;
}

.card--country {
    text-transform: uppercase;
    margin-right: auto;
}

.card--map-url {
    color: #918E9B;
}

.card--name,
.card--date {
    font-weight: 700;
}

.card--name {
    font-size: 25px;
    margin-bottom: 15px;
}

.card--date {
    font-size: 11px;
}

.card--description {
    font-size: 11px;
    line-height: 1.5;
}

hr {
    border: 1px solid #F5F5F5;
    margin-bottom: 24px;
}

/* Media Queries */
@media (min-width: 451px) {
    .card {
        flex-direction: row;
    }

    .card--photo {
        width: 125px;
        height: 168px;
    }

    .card--name {
        font-size: 20px;
    }
}