header {
    padding: 20px 40px;
    background-color: #F55A5A;
    color: #FFFFFF;
}

.header--container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.header--text {
    font-size: 15px;
    font-weight: 500;
}

.header--globe-icon {
    font-size: 24px;
}